@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --background: #121212;
    --background-dark: #0c0c0c;
    --background-secondary: #1e1e1e;
    --accent: #3386f2;
    --accent-dark: #2771d1;
    --red: rgb(242, 46, 46, 1);
    --red-dark: rgb(184, 28, 28);
    --text: #dcdcdc;
    --text-secondary: #838383;
    --white: #FFF;
    --dark: #171a1d;
    --nqd: #23282c;
    --nqw: #FCFAFF;
    --blurple: #5865F2;
    --blurple-dark: #4d57cc;
    --font: 'Nunito', sans-serif;
    --notepad: 'Roboto Mono', monospace;
}

* {
    font-family: var(--font);
    /* background-color: transparent; */
}

body {
    background-color: var(--background) !important;
    color: var(--text) !important;
}

.right {
    float: right;
}

.centered {
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.icon-r {
    margin-left: 6px;
}

.icon-l {
    margin-right: 6px;
}

.login {
    background-color: var(--blurple);
    border-radius: 6px;
    padding: 5px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.login:hover {
    background-color: var(--blurple-dark);
}
.v-center {
    margin: auto;
    width: 170px;
}
.text {
    font-size: 20px;
    color: var(--text);
    margin: 4px;
}
.logo {
    margin: auto;
    width: 140px;
    height: 100px;
}
.title {
    font-size: 26px;
    color: var(--text);
    margin-bottom: 0;
}
.subtitle {
    font-size: 20px;
    color: var(--text-secondary);
    margin-top: 0;
}
.section {
    margin: 50px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-dark);
    transition: 0.4s ease-in-out;
}
.modal-content {
    background-color: var(--background-medium);
    padding: 20px;
    border-radius: 6px;
    transition: 0.4s ease-in-out;
}
.notepad-modal {
    display: none;
    position: absolute;
    z-index: 2000;
    /* left: 0;
    top: 0; */
    width: 700px;
    height: 400px;
    background-color: #1e1e1f;
    /* border: 1px solid #c0c0c0; */
    border-radius: 8px;
}
.nodepad-modal-content {
    padding: 20px;
    border-radius: 6px;
    transition: 0.4s ease-in-out;
}
.close-notepad {
    color: var(--nqw);
    float: right;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-weight: 100;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: -2px;
    border-top-right-radius: 8px;
    margin-top: -1px;
    overflow: hidden;
}
.button-notepad {
    transition: all 0.3s ease-in-out;
    color: var(--nqw);
    float: right;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    font-weight: 100;
    margin-top: 0px;
    padding-right: 18px;
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.large {
    transition: all 0.3s ease-in-out;
    font-size: 26px;
}
.large:hover {
    background-color: #c7514f;
    color: var(--nqw);
}
.close-notepad:hover{
    background-color: #c7514f;
    color: var(--nqw);
}
.button-notepad:hover{
    background-color: var(--text-secondary);
}
.notepad-title {
    color: var(--text-secondary);
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
}
.notepad-subtitle {
    height: 30px;
    font-size: 13px;
    color: var(--nqw);
    float: left !important;
    margin-right: 6px;
    width: 685px;
    text-align: left;
    /* margin-bottom: 0;
    margin-top: 0; */
}
.notepad-subtitle span {
    margin: 6px;
    vertical-align: -webkit-baseline-middle;
}
.notepad-header {
    touch-action: none;
    user-select: none;
}
.notepad-content {
    background-color: #282829;
    /* border: 1px solid #d7d5da; */
    overflow-y: scroll;
    float: left !important;
    margin: 6px;
    width: 675px;
    height: 340px;
    margin-top: -10px;
    text-align: left;
    margin-top: -10px !important;
    padding: 5px;
    font-size: 14px;
    font-family: var(--notepad) !important;
    color: var(--nqw);
    border-radius: 3px;
    margin-bottom: 0;
}
.notepad-content:focus {
    outline: none;
    border: 1px solid var(--accent) !important;
    overflow-y: scroll;
}
.handle {
    width: 100%;
    height: 44px;
    margin-top: -10px;
    border-radius: 8px;
    margin-bottom: 5px;
}
.notepad-content:active {
    outline: none;
    border: 1px solid var(--accent) !important;
    overflow-y: scroll;
}
.notepad-inside {
    font-size: 14px;
    font-family: var(--notepad);
    color: #060000;
    margin: 0;
    /* padding: 5px; */
}
.close-leo,
.close-civ,
.close-char,
.close-plate,
.close-10codes {
    color: var(--nqw);
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.close-leo:hover,
.close-civ:hover,
.close-char:hover,
.close-plate:hover,
.close-notepad:hover,
.close-10codes:hover,
.close-leo:hover,
.close-civ:hover,
.close-char:hover,
.close-plate:hover,
.close-notepad:hover,
.close-10codes:focus {
    color: var(--rada);
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    animation-duration: 0.75s;
    animation-name: bounceIn;
}
.callsign {
    border: none;
    box-shadow: none;
    background-color: var(--background-secondary);
    color: var(--text);
    border-radius: 4px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.not-draggable {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    pointer-events: none;
}
.noselect {
    -moz-user-select: -moz-none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
/* width */
::-webkit-scrollbar {
    transition: all 0.2s ease-in-out;
    width: 6px;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--text);
}